/*---------Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


* {
    /* Gobal style to override default browser settings */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Exo" sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/*---------Header section*/
header {
    background-color: aquamarine;
    height: 60px;
    width: 100%;
    
}

header .logo {
    margin-left: 1rem;
    float: left;
    height: inherit;
    
}

span {
    color: rgb(203, 59, 62);
    
}

header .menu-icon {
    display: none;
}

ul {
    float: right;
    list-style: none;
}

ul .first-four-li{
    float: left;
}

ul .first-four-li a {
    text-decoration: none;
    display: block;
    font-size: 20px;
    padding: 20px;
}

.first-four-li a:hover {
    background: rgb(210, 230, 223);
    transition: 0.3s;
}

/*------------------------Main section to take surplus space*/
main {
    background-color: blue;
    flex: 1 0 auto;
}

.comprehension-test {
    text-align: center;
    position: relative;
    top: 10px;
    left: 180px;
}

#three-paragraph {
    text-align: center;
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    color: rgb(203, 59, 62);
    font-size: large;
}
.image-div {
    width: 80%;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    position: relative;
    
}


.image {
    width: 100%;
    max-height: 100%;

}

.start-inst-button {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    

}

.start-color {
    background-color: aquamarine;
    border-radius: 5px;
}

.inst-color {
    background-color: rgb(203, 59, 62);
    color: aliceblue;
}

/*----------------------------------Footer section*/

.footer-div {
    background-color: aquamarine;
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 100%;
}






/*----------------------------------Media query*/
@media only screen and (max-width: 768px) {
    header {
        width: 100%;
        position: relative;
    }

    header .logo {
        width: 100%;
    }
    
    ul {
        width: 100%;
        
        
    }
    ul li {
        width: 100%;
        
    }
    li a {
        background-color: aquamarine;
        
    }

    header .menu-icon {
        display: block;
        position: absolute;
        right: 10px;
        top: 35px;
        font-size: 2em;
        
    }

    .comprehension-test {
        padding-right: 250px;
        text-align: justify;
    }

    
}
    

